In [1]:
import pandas as pd
from sklearn.neural_network import MLPClassifier
from sklearn.neighbors import KNeighborsClassifier
from joblib import dump
from sklearn.metrics import accuracy_score

In [2]:
input_x_train_file = "../datasets/drugs_x_train.csv"
input_y_train_file = "../datasets/drugs_y_train.csv"

df_x = pd.read_csv(input_x_train_file)
df_y = pd.read_csv(input_y_train_file)

In [3]:
df_x

,Age,Na_to_K,Sex_F,Sex_M,BP_HIGH,BP_LOW,BP_NORMAL,Cholesterol_HIGH,Cholesterol_NORMAL
0,0.593220,0.297736,0,1,0,0,1,0,1
1,0.830508,0.458534,0,1,1,0,0,0,1
2,0.796610,0.322878,0,1,0,0,1,1,0
3,0.677966,0.147226,1,0,1,0,0,1,0
4,0.881356,0.144756,0,1,0,0,1,0,1
...,...,...,...,...,...,...,...,...,...
129,0.118644,0.177747,0,1,0,0,1,1,0
130,0.593220,0.201201,1,0,0,0,1,1,0
131,0.237288,0.724905,1,0,1,0,0,1,0
132,0.881356,0.300894,1,0,0,0,1,1,0
133,0.220339,0.214460,1,0,0,1,0,1,0

In [4]:
df_y.value_counts()

Drug_DrugY  Drug_drugA  Drug_drugB  Drug_drugC
1           0           0           0             62
0           0           0           0             35
            1           0           0             15
            0           1           0             12
                        0           1             10
dtype: int64

In [5]:
x = df_x.values
y = df_y.values

In [6]:
# KNeighborsClassifier
clf_knn = KNeighborsClassifier()
clf_knn.fit(x, y)

prediction = clf_knn.predict(x)

acc_score = accuracy_score(y, prediction)
acc_score

0.7835820895522388

In [7]:
# MLPClassifier
clf_mlp = MLPClassifier(random_state=1, max_iter=1000)
clf_mlp.fit(x, y)

prediction = clf_mlp.predict(x)

acc_score = accuracy_score(y, prediction)
acc_score

c:\Training\Machine Learning\group-day2\env\lib\site-packages\sklearn\neural_network\_multilayer_perceptron.py:679: ConvergenceWarning: Stochastic Optimizer: Maximum iterations (1000) reached and the optimization hasn't converged yet.
  warnings.warn(

0.9776119402985075

In [8]:
model_file = "../models/clf_drugs.joblib"
dump(clf_knn, model_file)

['../models/clf_drugs.joblib']